{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Create SWACI{% endblock %}

{% block styleblock %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/datepicker.css' %}">
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form id="email_form" action="{% url 'email' %}" method="post">{% csrf_token %}
                {{ email_form.as_p }}
                <input type="submit" value=">>" form="email_form" class="flow-btn"/>

            </form>
        </div>
        <div class="col-sm-4">
            <form id="name_form"
                  action="{% if passenger %}{% url 'passenger_name' passenger.id %}{% else %}#{% endif %}"
                  method="post">{% csrf_token %}
                {{ name_form.as_p }}
                <input type="submit" value=">>" form="name_form" class="flow-btn"/>

            </form>
        </div>

        <div class="col-sm-4">
            <form id="res_form" action="{% if passenger %}{% url 'reservation' passenger.id %}{% else %}#{% endif %}"
                  method="post">{% csrf_token %}
                {% for field in reservation_form %}
                <div class="fieldWrapper">
                    {{ field.label_tag }} {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}
                <input type="submit" value=">>" form="res_form" class="flow-btn"/>

            </form>
        </div>
    </div>


</div>

{% endblock %}

{% block jsblock %}

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.js' %}"></script>

<script type="text/javascript" src="{% static 'js/create-reservation.js' %}"></script>

{% endblock %}
