{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Create SWACI{% endblock %}

{% block styleblock %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/datepicker.css' %}">
{% endblock %}


{% block content %}

<div id="logo">
    <img src="{% static 'images/SWAC-logo.jpg' %}" alt="">
</div>

<div class="container flight-input">

    <div class="row">
        <div class="col-lg-12">
            <form id="email_form" action="{% url 'email' %}" method="post" class="form-horizontal">
                {% csrf_token %}
                <div class="field-group">
                    {{ email_form }}
                </div>
                <!-- <input type="submit" value=">>" form="email_form" class="flow-btn"/> -->
            </form>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <form id="name_form" method="post" action="{% if passenger %}{% url 'passenger_name' passenger.id %}{% else %}#{% endif %}" class="form-horizontal">
                {% csrf_token %}
                <div class="field-group">
                    {{ name_form }}
                </div>
                <!-- <input type="submit" value=">>" form="name_form" class="flow-btn"/> -->
            </form>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <form id="res_form" action="{% if passenger %}{% url 'reservation' passenger.id %}{% else %}#{% endif %}" method="post" class="form-horizontal">
                {% csrf_token %}
                {% for field in reservation_form %}
                    <div class="field-group">
                    {{ field.label_tag }} {{ field }}
                    {{ field.errors }}
                    </div>
                {% endfor %}
                <!-- <input type="submit" value=">>" form="res_form" class="flow-btn"/> -->
            </form>
        </div>
    </div>


</div>

{% endblock %}

{% block jsblock %}

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.js' %}"></script>

<script type="text/javascript" src="{% static 'js/create-reservation.js' %}"></script>

{% endblock %}
